#footer {
    position: absolute;
    width: 100%;
    height: 100px;
    color: white;
    background-color:black;
    text-align: center; 
    bottom: 0;
}

.child h1{
    font-family: 'lombok';
}

input, #search {
    display: inline-block;
}

.button-centered {
    text-align: center;
    margin-bottom: 15px;
}

.date-position {
    position: relative;
    bottom: 60px;
    color:white;
    margin-top: 5px;
}

input{
    width:265px;
}

.clickMe {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 24px !important;
    height: 150px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: url("artist-blocks.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    color: white;
    display: inline-block;
    font-size:16px;
}

.edm-box {
    border: 1px black solid;
    height: 100px;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    position: relative;
}

.container {
    background: url("wallpaper.jpg") no-repeat fixed center;
    opacity: .8;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.child {
    position: absolute;
    left: 40%;
    top: 40%;
    /* width: 25%;
    margin-left: auto;
    margin-right: auto; */
    color:white;
}

.watermark {
    padding-top: 40px;
}

.block {
    width: 100%;
    height: 500px;
    color:blue;
    border: 1px black solid;
}

.song-box {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 24px !important;
    height: 150px;
    width: 100%;
    color: white;
    display: inline-block;
    margin-bottom:5px;
    font-size:16px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: url("track-blocks.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    max-height: 200px;
    margin-bottom: 15px;
}

main {
    position: relative;
}

section h2{
    clear:left;
}

.artists h2, .youtube h2, .tracks h2{
    text-align: center;
    font-family: 'lombok' !important;
    font-size: 30px;
    margin: 40px;
}

.images {
    width:100%;
    height: 100%;
}

.js-youtube-results{
    text-align: center;
}